{% extends "users/base.html" %}

{% block title %}
    Register
{% endblock %}

{% block body %}
<h1>Register</h1>

<!-- Registration form -->
<form class="form-horizontal" action="register" onSubmit="return checkForm(this)" method="POST">
    {% csrf_token %}
    <!-- voornaam -->
    <div class="u-form-group u-form-name">
        <label for="voornaam" class="u-form-control-hidden u-label">Voornaam</label>
        <input type="text" placeholder="Voornaam" id="voornaam" name="voornaam" class="u-border-1 u-border-grey-5 u-border-radius-25 u-input u-input-round" required="">
    </div>
    <!-- achternaam -->
    <div class="u-form-group u-form-name">
        <label for="achternaam" class="u-form-control-hidden u-label">Achternaam</label>
        <input type="text" placeholder="Achternaam" id="achternaam" name="achternaam" class="u-border-1 u-border-grey-5 u-border-radius-25 u-input u-input-round" required="">
    </div>
    <!-- gebruikersnaam -->
    <div class="u-form-group u-form-name">
        <label for="gebruikersnaam" class="u-form-control-hidden u-label">Gebruikersnaam</label>
        <input type="text" placeholder="Gebruikersnaam" id="gebruikernaam" name="gebruikersnaam" class="u-border-1 u-border-grey-5 u-border-radius-25 u-input u-input-round" required="">
    </div>
    <!-- email -->
    <div class="u-form-group u-form-name">
        <label for="email" class="u-form-control-hidden u-label">E-mail adres</label>
        <input type="text" placeholder="email@voorbeeld.com" id="email" name="email1" class="u-border-1 u-border-grey-5 u-border-radius-25 u-input u-input-round" required="">
    </div>
    <!-- bevestig email -->
    <div class="u-form-group u-form-name">
        <label for="email" class="u-form-control-hidden u-label">Herhaal E-mail adres</label>
        <input type="text" placeholder="email@voorbeeld.com" id="email" name="email2" class="u-border-1 u-border-grey-5 u-border-radius-25 u-input u-input-round" required="">
    </div>
    <!-- wachtwoord -->
    <div class="u-form-group u-form-name">
        <label for="wachtwoord" class="u-form-control-hidden u-label">Wachtwoord</label>
        <input type="password" placeholder="Wachtwoord" id="wachtwoord" name="wachtwoord1" class="u-border-1 u-border-grey-5 u-border-radius-25 u-input u-input-round" required="">
    </div>
    <!-- bevestig wachtwoord -->
    <div class="u-form-group u-form-name">
        <label for="wachtwoord" class="u-form-control-hidden u-label">Herhaal wachtwoord</label>
        <input type="password" placeholder="Herhaal wachtwoord" id="wachtwoord" name="wachtwoord2" class="u-border-1 u-border-grey-5 u-border-radius-25 u-input u-input-round" required="">
    </div>
    <!-- geboortedatum -->
    <div class="u-form-group u-form-name">
        <label for="geboortedatum" class="u-form-control-hidden u-label">Geboortedatum</label>
        <input type="date" placeholder="Geboortedatum" id="geboortedatum" name="geboortedatum" class="u-border-1 u-border-grey-5 u-border-radius-25 u-input u-input-round" required="">
    </div>
    <!-- straat -->
    <div class="u-form-group u-form-name">
        <label for="straat" class="u-form-control-hidden u-label">Straat</label>
        <input type="text" placeholder="Straat" id="straat" name="straat" class="u-border-1 u-border-grey-5 u-border-radius-25 u-input u-input-round" required="">
    </div>
    <!-- huisnummer -->
    <div class="u-form-group u-form-name">
        <label for="huisnummer" class="u-form-control-hidden u-label">Huisnummer</label>
        <input type="number" placeholder="Huisnummer" id="huisnummer" name="huisnummer" class="u-border-1 u-border-grey-5 u-border-radius-25 u-input u-input-round" required="">
    </div>
    <!-- postcode -->
    <div class="u-form-group u-form-name">
        <label for="postcode" class="u-form-control-hidden u-label">Postcode</label>
        <input type="text" placeholder="Postcode" id="postcode" name="postcode" class="u-border-1 u-border-grey-5 u-border-radius-25 u-input u-input-round" required="">
    </div>
    <!-- woonplaats -->
    <div class="u-form-group u-form-name">
        <label for="woonplaats" class="u-form-control-hidden u-label">Woonplaats</label>
        <input type="text" placeholder="Woonplaats" id="woonplaats" name="woonplaats" class="u-border-1 u-border-grey-5 u-border-radius-25 u-input u-input-round" required="">
    </div>
    <!-- gebouw -->
    <div class="u-form-group u-form-name">
        <label for="gebouw" class="u-form-control-hidden u-label">Gebouw</label>
        <input type="number" placeholder="Bijvoorbeeld '2' voor Lieven 2" id="gebouw" name="gebouw" class="u-border-1 u-border-grey-5 u-border-radius-25 u-input u-input-round" required="">
    </div>
    <!-- verdieping -->
    <div class="u-form-group u-form-name">
        <label for="verdieping" class="u-form-control-hidden u-label">Verdieping</label>
        <input type="number" placeholder="Bijvoorbeeld '0' voor begane grond" id="verdieping" name="verdieping" class="u-border-1 u-border-grey-5 u-border-radius-25 u-input u-input-round" required="">
    </div>
    <!-- submit -->
    <div class="form-group">
        <label class="col-md-4 control-label" for="save"></label>
        <div class="col-md-8">
            <button id="save" name="save" class="submit">Register</button>
        </div>
    </div>
</form>
    
<script> 
    // Function to check whether both entered passwords are the same
    function checkForm(form) { 
        wachtwoord1 = form.wachtwoord1.value; 
        wachtwoord2 = form.wachtwoord2.value;
        email1 = form.email1.value;
        email2 = form.email2.value;

        // Check if password is entered twice.
        if (wachtwoord1 == '') 
            alert ("Voer alstublieft een wachtwoord in."); 
        else if (wachtwoord2 == '') 
            alert ("Herhaal alstublieft het gekozen wachtwoord."); 

        // Check if email is entered twice.
        else if (email1 == '')
            alert ("Voer alstublieft een e-mail adres in.")
        else if (email2 == '')
            alert ("Herhaal alstublieft het ingevoerde e-mail adres.")
                
        // Return false if passwords are not identical.    
        else if (wachtwoord1 != wachtwoord2) { 
            alert ("\nDe ingevoerde wachtwoorden komen niet overeen...") 
            return false; 
        } 

        // Return false if entered email adressess are not identical.
        else if (email1 != email2) {
            alert ("\nDe ingevoerde e-mail adressen komen niet overeen...")
            return false;
        }

        // Return true if passwords are identical. 
        else { 
            alert("Je bent succesvol geregistreerd!") 
            return true; 
        } 
    } 
</script> 
{% endblock %}